alfresco:
  url: "http://dl.alfresco.com/release/community/5.0.d-build-00002/alfresco-community-5.0.d.zip"
  source_hash: sha1=9a5f97fe365188111be67ba6993bcff437b677cf
  version: 5.0.d
  root: /data/alf_data
  db:
    type: postgresql
    driver: 'org.postgresql.Driver'
    username: username
    password: password
    host: dbserver
    port: 5432
    name: dbname
  cifs:
    enabled: 'False'
    serverName: ''
    domain: ''
    hostannounce: 'True'
    ipv6: 'False'
    tcpipSMB: 445
    netBIOSSMB:
      namePort: 137
      datagramPort: 138
      sessionPort: 139
    WINS:
      autoDetectEnabled: 'True'
  nfs:
    enabled: 'False'
    nodeMonitor: '${nfs.enabled}'
    mountServerPort: 0
    nfsServerPort: 2049
    rpcRegisterPort: 0
    portMapperPort: 111
    portMapperEnabled: 'False'
    sessionDebug: 'False'
    mountServerDebug: 'False'
  ftp:
    enabled:'False'
    port:'2121'
    bindto: '2122'
    dataPortFrom:'0'
    dataPortTo:'0'
    keyStore: ''
    trustStore: ''
    passphrase: ''
    requireSecureSession:'True'
    sslEngineDebug:'False'
    sessionDebug: 'False'
  imap:
    enabled: 'False'
    host: '0.0.0.0'
    port: '143'
    from: 'alfresco@demo.alfresco.org'
    to: 'alfresco@demo.alfresco.org'
    attachments: 'False'
    store: '${spaces.store}'
    rootPath: '/${spaces.company_home.childname}'
    folderPath: 'cm:Imap Home'    
  mail:
    host: '0.0.0.0'
    port: 25
    username: 'anonymous'
    password: ''
    protocol: 'smtp'
    encoding: 'UTF-8'
    siteinvite: 'False'
    starttls: 'False'
    auth: 'False'
    timeout: 30000
    server:
      enabled: 'False'
      port: 25
      domain: 'alfresco.org'
      allowed: '*.alfresco.org'
      blocked: '*.alfresco.org'
  auth:
    ntlm:
      sso: 'False'
      mapUnknownUserToGuest: 'False'
    passthru:
      useLocalServer: 'False'
      domain: 'company.ad'
      servers: 'company.ad\\19.168.1.2,19.168.1.3'
      guestAccess: 'False'
      defaultAdministratorUserNames: ''
      connectTimeout: 5000
      offlineCheckInterval: 300
      protocolOrder: 'NetBIOS,TCPIP'
      authenticateCIFS: 'False'
      authenticateFTP: 'False'
    ldap:
      active: 'False'
      allowGuestLogin: 'False'
      userNameFormat: '%s@company.com'
      factory: 'com.sun.jndi.ldap.LdapCtxFactory'
      url: 'ldap://ldap.company.com:389'
      security: 'simple'
      escapeCommasInBind: 'False'
      escapeCommasInUid: 'False'
      defaultAdministratorUserNames: ''
      sync:
        active: 'False'
        security: 'simple'
        principal: 'CN=username,OU=Alfresco,OU=Group,DC=company,DC=ad'
        credentials: 'password'
        queryBatchSize: '500'
        attributeBatchSize: '500'
        groupQuery: '(objectclass\=group)'
        groupDifferentialQuery: '(&(objectclass\=group)(!(modifyTimestamp<\={0})))'
        personQuery: '(&(objectclass\=user)(userAccountControl\:1.2.840.113556.1.4.803\:\=512))'
        personDifferentialQuery: '(&(objectclass\=user)(userAccountControl\:1.2.840.113556.1.4.803\:\=512)(!(modifyTimestamp<\={0})))'
        groupSearchBase: 'ou\=alfresco,dc\=company,dc\=ad'
        userSearchBase: 'ou\=alfresco,dc\=company,dc\=ad'
        modifyTimestampAttributeName: 'modifyTimestamp'
        timestampFormat: 'yyyyMMddHHmmss'.0Z''
        userIdAttributeName: 'sAMAccountName'
        userFirstNameAttributeName: 'givenName'
        userLastNameAttributeName: 'sn'
        userEmailAttributeName: 'mail'
        userOrganizationalIdAttributeName: 'o'
        defaultHomeFolderProvider: 'userHomesHomeFolderProvider'
        groupIdAttributeName: 'cn'
        groupDisplayNameAttributeName: 'fullName'
        groupType: 'group'
        personType: 'user'
        groupMemberAttributeName: 'member'
        enableProgressEstimation: 'True'

