alfresco:
  url: "http://dl.alfresco.com/release/community/5.0.d-build-00002/alfresco-community-5.0.d.zip"
  source_hash: sha1=9a5f97fe365188111be67ba6993bcff437b677cf
  version: 5.0.d
  db:
    type: postgresql
    driver: 'org.postgresql.Driver'
    username: username
    password: password
    host: dbserver
    port: 5432
    name: dbname

