alfresco:
  url: "http://dl.alfresco.com/release/community/5.0.d-build-00002/alfresco-community-5.0.d.zip"
  source_hash: sha1=9a5f97fe365188111be67ba6993bcff437b677cf
  version: 5.0.d
  root: /data/alf_data
  db:
    type: postgresql
    driver: 'org.postgresql.Driver'
    username: username
    password: password
    host: dbserver
    port: 5432
    name: dbname
  cifs:
    enabled: 'False'
    serverName: ''
    domain: ''
    hostannounce: 'True'
    ipv6: 'False'
    tcpipSMB: 445
    netBIOSSMB:
      namePort: 137
      datagramPort: 138
      sessionPort: 139
    WINS:
      autoDetectEnabled: 'True'