{% set alfresco = salt['grains.filter_by']({
    'Debian': {
        'tomcat', '/var/lib/tomcat7/',
        'jetty', '/var/lib/jetty/',
    },
    'Ubuntu': {
        'tomcat', '/var/lib/tomcat7/',
        'jetty', '/var/lib/jetty/',
    },
}, merge=salt['pillar.get']('alfresco:lookup')) %}
