{% set alfresco = salt['grains.filter_by']({
    'Debian': {
        'tomcat_dir': '/var/lib/tomcat7/',
        'jetty': '/var/lib/jetty/',
        'user': 'tomcat7',
        'group': 'tomcat7'
    },
    'Ubuntu': {
        'tomcat_dir': '/var/lib/tomcat7/',
        'jetty': '/var/lib/jetty/',
        'user': 'tomcat7',
        'group': 'tomcat7'
    }
}, merge=salt['pillar.get']('alfresco:lookup')) %}
